* {
    box-sizing: border-box;
}

body {
    background: #F6F8F9;
}

@media (max-width: 768px) {
    .line2-div1, .line2-div2 {
        width: 100% !important;
    }

    .line2-div2 input {
        width: 100% !important;
    }
    .line2-div2{
      padding: 1rem;
    }
    .line2-div2>div{
        width: 100%;
    }

    .line-3 {
        flex-wrap: wrap;
        gap: 0.5rem !important;
    }

    footer {
        display: none !important;
    }

}

.line-1 {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
}

.nav-bar-div {
    background-color: transparent;
}

.content {
    max-width: 72.5rem;
    margin: auto;
}

.hr {
    width: 95%;
}

.line-2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.line2-div1 {
    position: relative;
}

.line2-div1 > img {
    height: 100%;
    width: 100%;
}

.line2-div1 > div {
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.line-1-img-div {
    position: relative;
}

.line2-button {
    background-color: #fa6980;
    width: 7.625rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 0.7rem;
}

.line2-div2 {
    width: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line2-div2 > div {
    margin: auto;
    max-width: 21rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.line2-div2 input{
    border-radius: 0.7rem;
    padding: 0.8rem;
    border: 2px solid #80808040;
    width: 19rem;
}
.line2-div2 select{
    border-radius: 0.7rem;
    padding: 0.8rem;
    border: 2px solid #80808040;
    width: 19rem;
}


.line-3 {
    display: flex;
    gap: 7rem;
    padding: 2rem;
}
.line-4{

}

.line-4 img {
    height: 34rem;
    width: 100% ;
    padding: 2rem 0rem 2rem 0rem;
}

.line-4 p {

}

.footer-a a{
    width: 33%;
}
.footer-a{
    display: flex;
    flex-wrap: wrap;
}
footer{
    background-color: #A6ADB4;
    display: flex;
    justify-content: space-evenly;
    padding: 4rem 0;
}

.footer-description{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 1rem;
    color: #e7e6e6;

}

.footer-description >div{
    font-size: 1.2rem;
    max-width: 32rem;
    display: flex;
    gap: 4rem;
}
.footer-description >div>p{
    margin: 0;
}

.footer-center{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.line {
    border-bottom: 1px solid gray;
    padding: 3rem;
    margin-bottom: 10rem;
}



